* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url('./fonts/Intro\ Bold\ Alt\ Regular.otf');
}
body {
    font-family: myFont;
}
.logo {
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 30px;
    font-weight: lighter;
}
.position {
    font-size: 28px;
    font-weight: lighter;
}
.blue, .m, .e, .w, .a{
    color: #3399FF;
    font-weight: bold;
}
.underline {
    border-bottom: 5px solid #3399FF;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tagline {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    color:  #3399FF;
    position: relative;
    top: -80px;
}
.line {
    margin-top: 10px;
}